#root {
  height: 100%;
}
html,
body {
  background-color: aliceblue;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
a.navbar-item {
  top: 0.4rem;
  align-self: center;
}

a.navbar-item:hover {
  background-color: inherit;
  cursor: inherit;
}

.button.is-normal.is-white {
  align-self: center;
  top: 0.3rem;
}
button.is-normal {
  background-color: aliceblue;
}

/* container section  */
.container {
  flex: 1;
}

.column h1 {
  line-height: normal;
}

.left-column {
  gap: 10px;
}

button.is-normal.has-background-grey-darker {
  align-self: start;
}

.column img {
  height: 500px;
  width: auto;
  border-radius: 10px;
}

footer {
  /* --bulma-footer-padding:inherit !important; */
  padding: 8px !important;
}

.inherit {
  all: inherit;
}

.input-box {
  --bulma-box-background-color: white;
  border: #353a46 2px solid;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: white;
  color: black;
  --bulma-input-placeholder-color: grey;
  --bulma-input-focus-l: 24%;
  --bulma-input-focus-h: 225;
  --bulma-input-focus-s: 12%;
}

.tabs.is-toggle li.is-active a {
  background-color: #353a46;
  border-color: dimgrey;
}

.tabs.is-toggle a:hover {
  color: black;
  background-color: white;
  border-color: var(--bulma-tabs-toggle-link-hover-border-color);
  z-index: 2;
}

.tabs-block {
  justify-self: center;
}

.cv-preview {
  border: #353a46 solid 2px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.bullet-input {
  padding: 10px;
  border: 1px solid #353a46;
  border-radius: 5px;
}